venv/
build/
*.charm
.tox/
.coverage
__pycache__/
*.py[cod]
.idea
.vscode/
tests/integration/testers/service-mesh-tester/lib/*

# Terraform files
terraform/**/*.tfstate
terraform/**/*.tfstate.*
terraform/**/.terraform/
terraform/**/.terraform.lock.hcl
